<div class="shop--main p-4">
    <!-- <div>
        <h1 app-change-text-color app-bg-directive [defaultColor]="'red'" [hoverColor]="'skyblue'">Hey Directive</h1>
    </div> -->
    <!-- <div style="max-height: 100px; overflow: scroll;" app-scroller (sendCallBack)="scrollBack($event)">
        <ol >
            <li *ngFor="let item of shopItems">
                <span>{{item?.title}}</span>
                <span>
                    {{item?.description}}
                </span>
            </li>
        </ol>
    </div> -->
    <div class="form--block mb-3" *ngIf="isFormShow">
        <form>
            <div class="mb-3">
                <label for="title" class="form-label">Product Title</label>
                <input type="text" name="title" class="form-control" id="title" [(ngModel)]="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Product Description</label>
                <input type="text" name="description" class="form-control" id="description" [(ngModel)]="description">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Product Image URL</label>
                <input type="text" name="imageUrl" class="form-control" id="imageUrl" [(ngModel)]="imageUrl">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" (click)="addProduct()">Add Product</button>
                <button type="reset" class="btn btn-light" (click)="showPoductForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div *ngIf="!isFormShow && !isCartShow">
        <div class="create--product">
            <button type="submit" class="btn btn-primary" (click)="showPoductForm()">Create Product</button>
        </div>
        <div class="row">
            <div class="col-md-3" *ngFor="let shopItem of shopItems; let i = index">
                <div class="card mb-3">
                    <em class="fa fa-trash" (click)="deleteItem(i)"></em>
                    <img [src]="shopItem.imageUrl" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <span class="badge bg-primary ml-auto">Rs:{{shopItem?.price}} /-</span>
                        <h5 class="card-title">{{shopItem?.title}}</h5>
                        <p class="card-text">{{shopItem.description}}</p>
                        <a (click)="addToCart(shopItem)" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Component -->
    <div *ngIf="isCartShow">
        <app-cart [cartData]="selectedProduct" (continueShop)="continueShopping($event)">
            <!-- <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{selectedProduct.title}}</h6>
                        <small class="text-muted">{{selectedProduct.description}}</small>
                    </div>
                    <span class="text-muted">Rs: {{selectedProduct.price}} /-</span>
                </li>
            </ul> -->
        </app-cart>
    </div>
    <div class="">
        <input type="text" #test>
        <button (click)="submitTest()">Test</button>
    </div>
    <!-- <div>
        <form action="" [formGroup]="userData" autocomplete="off" (submit)="onFormSubmit()">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" name="firstName" formControlName="firstName" class="form-control" id="firstName">
                <p *ngIf="isSubmitted && (userData.controls.firstName.errors?.required)">First name is required</p>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" name="lastName" formControlName="lastName" class="form-control" id="lastName">
                <p *ngIf="isSubmitted && (userData.controls.lastName.errors?.required)">Last name is required</p>
                <p *ngIf="isSubmitted && (userData.controls.lastName.errors?.minlength)">Last name is at least 5
                    characters</p>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" formControlName="email" class="form-control" id="email"
                    autocomplete="off">
                <p *ngIf="isSubmitted && (userData.controls.email.errors?.required)">Email is required</p>
                <p *ngIf="isSubmitted && userData.controls.email.errors?.email">Enter valid email</p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" formControlName="password" class="form-control" id="password">
                <p *ngIf="isSubmitted && (userData.controls.password.errors?.required)">Password is required</p>
                <p *ngIf="isSubmitted && userData.controls.password.errors?.pattern">Password must contain one
                    uppercase, lowercase, number and one special character</p>
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone number</label>
                <input type="tel" name="phone_number" formControlName="phone_number" class="form-control"
                    id="phone_number">
                <p *ngIf="isSubmitted && (userData.controls.phone_number.errors?.required)">Phone number is required</p>
                <p *ngIf="isSubmitted && userData.controls.phone_number.errors?.pattern">Enter valid phone number</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
    <!-- Template driven forms -->
    <!-- <div>
        <form action="" #tdForm="ngForm" (ngSubmit)="addDataTdForm(tdForm)">
            <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" ngModel required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" name="lastName" class="form-control" id="lastName" ngModel required minlength="5">
                <p *ngIf="tdForm.controls.lastName?.errors?.minlength">Minimum 5 characters</p>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" ngModel required
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                >
                <p *ngIf="tdForm.controls.email?.errors?.required">Email is required</p>
                <p *ngIf="tdForm.controls.email?.errors?.pattern">Enter valid email</p>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add TD Data</button>
                <button type="reset" class="btn btn-light">Cancel</button>
            </div>
        </form>
    </div> -->
</div>